@charset "ISO-8859-1";



	#topSection {
        height: 200px; 
        background-color: rgb(0, 43, 128);
    }
    .container {
        display:table;
        width:100%;
    
    }
    .column {
      float: left;
      padding-top: 0px;
      color:white;
      
    }
    .row:after {
      content: "";
      display: table;
      clear: both;
    }
    
    #lvl {
        height: 200px;
        width: 18%;
        text-align: center;
        font-family: Monospace;
        font-size: 20px;
        color: rgb(204, 153, 0);
        
        border: 5px solid black;
    }
    #summonerIconImg {
        border: 5px solid rgb(48, 48, 48);
        padding: 0;
        height: 131px; 
        width: 131px;
        max-height: 131px;
        max-width: 131px;
    }
    
    #rankIcon {
        height: 200px; 
        width: 100px;
        padding-left: 0px;
        padding-top: 0px;
        padding-right: 10px;
        display: flex;
        align-items: center;
        
        border-top: 5px solid black;
        border-bottom: 5px solid black;
    }
    #rankImg {
    	height: 115px;
    	width: 115px;
        max-height: 115px;
        max-width: 115px;
    }
    
    #rank {
        height: 200px; 
        width: 10%;
        padding-left: 3px;
        padding-right: 15px;
        display: flex;
        align-items: center;
        font-family: Trebuchet MS;
        
        border-right: 5px solid black;
        border-top: 5px solid black;
        border-bottom: 5px solid black;
        
    }
   
    #rankText {
        padding-left: 0px;
        color: rgb(255, 133, 51);
    }
    
    #rankTextMode{
    	 color: rgb(230, 184, 0);
    }
    
    #wins {
        color: rgb(102, 255, 102);
    }
    #losses {
        color: rgb(255, 80, 80);
    }
    #winPer {
        color: rgb(204, 153, 0);
    }
    
    
    #flexIcon {
        height: 200px; 
        width: 100px;
        padding-left: 0px;
        padding-top: 0px;
        padding-right: 10px;
        display: flex;
        align-items: center;
        
        border-top: 5px solid black;
        border-bottom: 5px solid black;
    }
    
    #flex {
        height: 200px; 
        width: 10%;
        padding-left: 3px;
        padding-right: 15px;
        display: flex;
        align-items: center;
        font-family: Trebuchet MS;
        
        border-top: 5px solid black;
        border-bottom: 5px solid black;
        
    }
    
    
    #searchSaveSummoner {
        width: calc(100% - 281px - 38%);
        height: 200px;
        border: 5px solid black;
        font-family: Trebuchet MS;
        position: relative;
    }
    #databaseAndSearch{
        padding-top: 5px;
        padding-right: 0px;
        font-size: 16pt;
        color: rgb(255, 255, 102);
    }
    
    #seeStored {
    	padding-left: 5px;
    	float: left;
	}
	#seeStored form {
	    width: 180px; /* increase the width of the form */
	    height: 24px; /* increase the height of the form */
	}
	#seeStored input {
	    width: 100%; /* set the width of the input to 100% to fill the form */
	    height: 100%; /* set the height of the input to 100% to fill the form */
	    font-size: 18px; /* increase the font-size of the text */
	    background-color: rgb(0, 0, 56);
	    color: rgb(255, 133, 51);
	}
	
	#searchSumm {
		padding-right: 5px;
	    float: right;
	}
	#searchInput {
	    width: 70px; /* increase the width of the form */
	    height: 26px; /* increase the height of the form */
	    background-color: rgb(0, 0, 56);
	    font-size: 18px; /* increase the font-size of the text */
	    color: rgb(102, 255, 102);
	}
	#summonerName {
		background-color: rgb(0, 0, 56);
		width: 150px; /* increase the width of the form */
	    height: 24px; /* increase the height of the form */
	    font-size: 18px; /* increase the font-size of the text */
	    color: rgb(102, 255, 102);
	}
	
    
    #saveSummoner {
    	color: rgb(255, 255, 102);
    	font-size: 18px;
    	 
    	display: flex;
	    position: absolute;
    	bottom: 0;
    	right: 10px;
    	padding-bottom: 10px;
    }
    #saveSummoner form {
	    width: 160px; /* increase the width of the form */
	    height: 24px; /* increase the height of the form */
	}
	#saveSummoner input {
		background-color: rgb(0, 0, 56);
	    width: 100%; /* set the width of the input to 100% to fill the form */
	    height: 100%; /* set the height of the input to 100% to fill the form */
	    font-size: 18px; /* increase the font-size of the text */
	    color: rgb(255, 255, 102);;
	}
    
    
    
    
    
    
    