<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="ISO-8859-1">
<title>LoL Account Info</title>

<link rel="stylesheet" href="/cssStyles/background.css">
<link rel="stylesheet" href="/cssStyles/summonerInfo-Top.css">
<link rel="stylesheet" href="/cssStyles/summonerChampionInfo.css">
<link rel="stylesheet" href="/cssStyles/recentGames-Info.css">
<link rel="stylesheet" href="/cssStyles/matchHistory-Filter.css">
<link rel="stylesheet" href="/cssStyles/matchHistory-RecentGames.css">




</head>
<body>
     <div id="backgr">
     </div>     
    <div>
        <br>
    </div>
    <div id="textarea">
    
            
        
        <div id="topSection" class="container">
            
            <div id="lvl" class="column" >
                <span th:text="${summoner.getAccName()}"></span> <br>
                <img id="summonerIconImg" th:src="${summoner.getIconUrl()}" alt="Summoner Icon">
                <br> <span th:text="${summoner.getSummonerLevel()}"></span>
            </div>
           
            <div id="rankIcon" class="column" >
                <img id="rankImg" th:src="'/rankImages/'+ ${summoner.getSoloRank().getTier() +'.png'}" alt="RankIcon">
            </div>
           
            <div id="rank" class="column" >
                
                <div id="rankText">
                  <b>
                    <span id="rankTextMode" th:text="${summoner.getSoloRank().getQueueType() + ':'}"></span> <br>
                    <span th:text="${summoner.getSoloRank().getTier() + ' ' + summoner.getSoloRank().getRank()}"></span> <br>
                    <span th:text="'LP: ' + ${summoner.getSoloRank().getLeaguePoints() + 'lp'}"> </span><br> <br>
                    <span id="wins" th:text="${summoner.getSoloRank().getWins() + ' W'}"></span> - <span id="losses" th:text="${summoner.getSoloRank().getLosses() + ' L'}"></span> <br>
                    <span id="winPer" th:text="'Win %: ' + ${summoner.getSoloRank().getWinRate() + '%'}"></span>
                  </b>
                </div>
                
            </div>
            
            <div id="flexIcon" class="column" >
                
                <img id="rankImg" th:src="'/rankImages/'+ ${summoner.getFlexRank().getTier() +'.png'}" alt="RankIcon">
            </div>
           
            <div id="flex" class="column" >
                
                <div id="rankText">
                  <b>
                    <span id="rankTextMode" th:text="${summoner.getFlexRank().getQueueType() + ':'}"></span> <br>
                    <span th:text="${summoner.getFlexRank().getTier() + ' ' + summoner.getFlexRank().getRank()}"></span> <br>
                    <span th:text="'LP: ' + ${summoner.getFlexRank().getLeaguePoints() + 'lp'}"> </span><br> <br>
                    <span id="wins" th:text="${summoner.getFlexRank().getWins() + ' W'}"></span> - <span id="losses" th:text="${summoner.getFlexRank().getLosses() + ' L'}"></span> <br>
                    <span id="winPer" th:text="'Win %: ' + ${summoner.getFlexRank().getWinRate() + '%'}"></span>
                  </b>
                </div>
                
            </div>
            
            <div id="searchSaveSummoner" class="column" >
                
                <div id="databaseAndSearch">
                    
                    <div id="seeStored">
                    	<form method="post" th:action="@{/storedSummoners}">
                            <input type="submit" value="Stored Summoners" />
                        </form>
                    
                    </div>
                    
                    <div id="searchSumm">
	                    <form id="getSummoner" method="get" th:action="@{/summoner}">
						   <input id="searchInput" type="submit" value="Search" />
						   <input type="text" id="summonerName" placeholder=" SummonerName" size="15" style="height:20px; font-size:11pt;" required pattern=".*\S.*"/>
							<select id="mirrorSelect" th:name="matchType"  style="display: none;">
						      <option>All</option>
						      <option>Blind</option>
						      <option>Draft</option>
						      <option>Ranked</option>
						      <option>Flex</option>
						      <option>ARAM</option>
						    </select>
						</form>
                    </div>
                    <span id="popup" th:text="${popupError}" style="display: none;"></span>
                 </div>
                 
                
            </div>
        </div>
        
        
        
        
        <div id="champions">
        
            <div class="dropdown-container">
              <!-- HTML for the dropdown button -->
                <div id="mostPlayedChamps"> 
                    <button class="dropdown-button" id="toggleChampionButton"> ^ </button>
                     &nbsp; Most Played Champions (in [[${summoner.getMatchHistoryList().size()}]] Games):  
                </div>
                <!-- HTML for the dropdown content -->
                <div class="dropdown-content" id="championContent" hidden>
                
                    <div class="championStats" th:each="champion, iterStat : ${summoner.getRecentChampions()}" th:id=${champion.getChampionExists()} th:if="${iterStat.index} < 12">
                     <img id="championImage" th:src="${champion.getSummonerChampionUrl()}">
                       <div id="championWinLoss">
                          <div id="championName">[[${champion.getSummonerChampionName()}]]</div>
                          <div>[[${champion.getWinRate()}]]%</div>
                          <div>[[${champion.getWins()}]]W - [[${champion.getLosses()}]]L</div>
                        </div>
                        
                        <div id="championKDA">
                           <div>[[${champion.getGamesPlayed()}]] Game(s)</div>
                          <div>[[${champion.getKd()}]] KD</div>
                          <div>[[${champion.getKda()}]]</div>
                        </div>
                    </div>
                    
                    
                </div>
            </div>
        </div>     
        
        
        <div id="RecentGamesInfo">
            <div class="dropdown-container-RecentGames" >
                
                <div id="mostPlayedChamps"> 
                    <button class="dropdown-button-RecentGames" id="toggleMatchHistStatsButton"> ^ </button>
                     &nbsp; Recent Match History Analysis: 
                </div>
                
                <div class="dropdown-content-RecentGames" id="matchHistStats">
                    <div id="recentChartInfo">
                        Wins: [[${summoner.getRecentMatchSummary().getWins()}]] &nbsp;&nbsp;&nbsp;<br> Losses: [[${summoner.getRecentMatchSummary().getLosses()}]] &nbsp;&nbsp;&nbsp;
                        <canvas id="recentGamesChart" ></canvas>   
                        
                    </div>
                    <div id="recentChartInfoKDA">
                        Win Rate: [[${summoner.getRecentMatchSummary().getWinRate()}]]%   <br>
                        KDA: [[${summoner.getRecentMatchSummary().getKda()}]]		<br>
                        KD: [[${summoner.getRecentMatchSummary().getKd()}]]
                        
                    </div>
                    
                    <div id="recentNumGamesTitle">Games: </div>
                    <div id="recentGameType">
                      <div id="recentNumGamesBorder"> <div id="recentNumGames">[[${summoner.getRecentMatchSummary().getBlindGames()}]]</div> - Blind Pick         </div>      <br> 
                      <div id="recentNumGamesBorder"> <div id="recentNumGames">[[${summoner.getRecentMatchSummary().getDraftGames()}]]</div> - Draft Pick         </div>      <br>
                      <div id="recentNumGamesBorder"> <div id="recentNumGames">[[${summoner.getRecentMatchSummary().getRankedGames()}]]</div> - Ranked Solo/Duo    </div>      <br>
                        
                    </div>
                     <div id="recentGameType">
                      <div id="recentNumGamesBorder"> <div id="recentNumGames">[[${summoner.getRecentMatchSummary().getFlexGames()}]]</div> - Ranked Flex        </div>      <br>
                      <div id="recentNumGamesBorder"> <div id="recentNumGames">[[${summoner.getRecentMatchSummary().getAramGames()}]]</div> - ARAM               </div>      <br>
                      <div id="recentNumGamesBorder"> <div id="recentNumGames">[[${summoner.getRecentMatchSummary().getOtherGames()}]]</div> - Other </div>      <br>
                    </div>
                </div>
            </div>
            
        </div>
        
        <div id="matchHistoryFilter">
            <div>
            	
            </div>
            <div id="recentGamesTotal">
            	Total Games: [[${summoner.getMatchHistoryList().size()}]]
            </div>
            <div id="dropdown-button-Controller-Div">
                <button class="dropdown-button-Controller-Collapse"> Collapse </button>
                <button class="dropdown-button-Controller-Expand"> Expand </button>
            </div>
            
        </div>
        
        <div id="matchHistory">
            
            
            
            <div class="dropdown-container-matchHistorygame" th:each="match, iterStat : ${summoner.getMatchHistory()}">
            
                <div class="matchHistorygame-ButtonDivClass" id="matchHistorygame-ButtonDiv"> 
                    <button class="dropdown-button-matchHistorygame"> ^ </button>
                      &nbsp;[[${iterStat.index + 1}]] - [[${match.getQueueName()}]] &nbsp; - &nbsp; [[${match.getGameEndTimestamp()}]] &nbsp;&nbsp; [[${match.getWinLoss()}]]
                </div>
               
                <div class="dropdown-content-matchHistorygame" hidden>
                    <div id="matchHistorygame-Summoner">
                        [[${match.getSummonerAccName()}]] 
                        <img id="matchHistorygameSummonerChampionImage" th:src="${match.getSummonerChampionUrl()}"> 
                        [[${match.getSummonerChampionName()}]]
                        
                    </div>
                    <div id="matchHistorygame-SummonerStats">
                        <div>[[${match.getSummonerKills()}]]-[[${match.getSummonerDeaths()}]]-[[${match.getSummonerAssists()}]] KDA</div>
                        <div>[[${match.getSummonerKda()}]] KD</div> 
                        <div>[[${match.getSummonerTotalMinionsKilled()}]] CS</div>
                        
                    </div>
                    
                    
                    <div id="matchHistorygame-PlayersInGame">
                      
                      
                        <div id="matchHistorygame-PlayersInGame-Team1">
                          <span th:each="participant : ${match.getParticipants()}" th:if="${participant.getMapSide() == '100'}">
                            <img id="matchHistorygameChampionImage" th:src="${participant.getChampionUrl()}"> 
                             [[${participant.getAccName()}]]  <span id="matchHistorygame-PlayersInGame-Stats">&nbsp; [[${participant.getKills()}]]-[[${participant.getDeaths()}]]-[[${participant.getAssists()}]] &nbsp; [[${participant.getTotalMinionsKilled()}]] CS &nbsp; [[${participant.getGoldEarned()}]]k-g</span> <br>
                          </span>
                        </div>
                        
                        
                        <div id="matchHistorygame-PlayersInGame-Team2">
                           <span th:each="participant : ${match.getParticipants()}" th:if="${participant.getMapSide() == '200'}">
                            <img id="matchHistorygameChampionImage" th:src="${participant.getChampionUrl()}"> 
                             [[${participant.getAccName()}]]  <span id="matchHistorygame-PlayersInGame-Stats">&nbsp; [[${participant.getKills()}]]-[[${participant.getDeaths()}]]-[[${participant.getAssists()}]] &nbsp; [[${participant.getTotalMinionsKilled()}]] CS &nbsp; [[${participant.getGoldEarned()}]]k-g</span> <br>
                          </span>
                        </div>
                        
                        
                      
                    </div>
                </div>
            </div>
       
            
        </div>
        	
			<script src="/disclaimerDropdown.js"></script>
			<script src="/getSummonerPageURL.js"></script>
        	<script src="/invalidSummonerPopup.js"></script>
        	<script src="/mostPlayedChampions.js"></script>
      
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
            <script>
              import doughnutlabel from "chartjs-plugin-doughnutlabel";
              Chart.plugins.register(doughnutlabel);
            </script>
            <script src="/winLossChart.js"></script>
  			
  			<script src="/matchHistory.js"></script>
        	<script src="/checkNameAndSubmit.js"></script>
    </div>    
    

</body>
</html>











